
/* ----------------FUENTES----------------------- */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Libre+Baskerville&family=Quicksand:wght@300&family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Castoro+Titling&family=Pacifico&family=Raleway:wght@100&family=Sacramento&family=Six+Caps&family=Staatliches&display=swap");
/* font-family: 'Bebas Neue', sans-serif;
font-family: 'Libre Baskerville', serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Tilt Neon', sans-serif; */

/* font-family: 'Balsamiq Sans', cursive;
font-family: 'Castoro Titling', cursive;
font-family: 'Pacifico', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'Sacramento', cursive;
font-family: 'Six Caps', sans-serif;
font-family: 'Staatliches', cursive;*/
/* ----------------FUENTES----------------------- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f8f8;
}

body::-webkit-scrollbar {
  width: 7px;
}

body::-webkit-scrollbar-thumb {
  background-color: #cf0011;
  border-radius: 3px;
}

h2 {
  font-family: "Bebas Neue", cursive;
  font-size: 30px;
  margin-top: 20px;
}

h3 {
  font-family: "Bebas Neue", cursive;
  font-size: 40px;
  margin: 20px;
  margin-bottom: 0;
}

h4 {
  font-family: "Raleway", cursive;
  margin-top: 10px;
  margin-bottom: 0px;
}

p {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: bolder;
}

a {
  font-family: "Castoro Titling", cursive;
}

hr {
  justify-items: center;
  height: 2px !important;
  width: 90%;
  background-color: #121212;
  border-color: #121212;
  margin: 10px auto;
  opacity: 1;
}

h3 {
  font-size: 25px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* --------------BARRA DE NAVEGACION----------- */
header {
  position: sticky;
  top: 0px;
  z-index: 5;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
}

nav {
  display: flex;
  justify-content: center;
  background-color: #121212;
  padding: 10px;

  border-bottom: 3px solid #f30013;
}
nav .navbar-brand {
  font-family: "Tilt Neon", cursive;
  font-size: 30px;
  margin: 10px;
  text-decoration: none;
  color: white;
}
nav .navbar-brand:hover {
  text-shadow: 0px 0px 10px #e40517, 0px 0px 40px #e40517, 0px 0px 80px #e40517;
}

/* ---------------------------------------- */
/* ------------RESERVAS------------ */

.card-body {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 60px 20px;
}

.card-body h6 {
  font-size: 25px;
}

img.img-fluid.rounded-start {
  max-height: 240px;
  width: 400px;
  height: 100%;
}

#divLeft{
  display: flex;
  align-items: center;
  flex-direction: column;
}

img.card-img-top {
  height: 200px;
  border-bottom: 2px solid #f30014;
}

a.btn.btn-primary {
  background-color: #f30014;
  border-radius: 5px;
  border: 2px solid #f30014;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 800;
}

a.btn.btn-primary:hover {
  background-color: #cf0011;
}

.card {
  max-width: 1200px !important;
  margin: 10px;
  border-radius: 0;
  transition: 0.2s;
}

.card:hover {
  transform: scale(1.04);
  transition: 0.2s;
}



section.reservas1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.articleDescription {
  overflow: auto;
}

.articleDescription::-webkit-scrollbar {
  width: 2px;
  border-radius: 3px;
}

.articleDescription::-webkit-scrollbar-thumb {
  background-color: #cf0011;
  border-radius: 3px;
}

p.card-text {
  max-height: 100px;
}

h2 {
  color: #121212;
  font-size: 45px;
  text-align: center;
}
.divSubtitle {
  display: flex;
  background-color: #121212;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  margin: 0;

  max-width: 700px;
}
.divSubtitle p {
  background-color: white;
  border-top: 3px solid #f30013;
  color: #000;
  width: 700px;
}
.divSubtitle h3 {
  margin: 5px;
}

label input {
  padding: 10px;
  padding-top: 20px;
  outline: none;
  border: 2px solid #121212;
  border-radius: 5px;
}

label input:focus {
  border: 2px solid #f30013;
}

.labelForm {
  position: relative;
}

.spanPersonal {
  position: absolute;
  color: #000;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
  cursor: pointer;
  top: 0;
  left: 7px;
  transition: 0.5s;
}

.form-input {
  color: #000;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}

.form-input:focus + .spanPersonal,
.form-input:not(:placeholder-shown) + .spanPersonal {
  transform: translateY(-10px) scale(0.7);
  transform-origin: 12px top;
  transition: 0.5s;
}

.sectionForm {
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

#divForm {
  background-color: #fff;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  max-width: 700px !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  text-align: center;
  width: 95%;
  color: #333;
  font-size: 20px;
  /* margin: 20px auto; */
  padding-bottom: 20px;
}

#divForm label {
  color: #121212;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.568);
}

#confirmBooking {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #121212;
  box-shadow: 0 3px 5px 0px rgba(0, 0, 0, 0.1);
  width: auto;
  max-width: 800px;
  color: #fff;
}

#confirmBooking h3 {
  margin: 5px;
}

#divtextbooking {
  border-top: 3px solid #f30014;
  max-height: 550px;
  overflow: auto;
}

#divtextbooking::-webkit-scrollbar {
  background-color: #ffffff;
  width: 4px;
  border-radius: 3px;
}
#divtextbooking::-webkit-scrollbar-thumb {
  background-color: #f30013;
  border-radius: 3px;
}

#confirmBooking p {
  padding: 10px;
  display: flex;
  color: #121212;
  background-color: #fff;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  line-height: 50px;

  /* border-top: 3px solid #f30013; */
}

#confirmBooking button{
  margin-left: 5px;
  font-family: "Bebas Neue", sans-serif;
  color: white;
  padding: 5px;
  font-size: 20px;
  background: #121212;
  border-radius: 30px;
  box-shadow: 5px 5px 0px 0px #f30013;
  transition: 0.1s;
}

#confirmBooking button:active {
  transform: translate(5px, 5px);
  box-shadow: 0 0 0 0 #00000000;
  transition: 0.1s;
}

#resultForm h4 {
  color: #f30013;
}

.spanDNIPasaporte {
  color: #000;
  font-weight: 800;
  font-family: "Raleway", sans-serif;
}

.checkRadio {
  accent-color: #f30013;
}

.spanDate {
  font-family: "Raleway", sans-serif;
  color: #000;
  font-weight: 800;
}

#btnBooking {
  font-family: "Bebas Neue", sans-serif;
  margin: 20px;
  color: white;
  padding: 15px;
  margin: 30px 0px;
  width: 310px;
  font-size: 20px;
  background: #121212;
  border-radius: 30px;
  font-weight: 800;
  box-shadow: 5px 5px 0px 0px #f30013;
  transition: 0.1s;
}

#btnBooking:active {
  transform: translate(5px, 5px);
  box-shadow: 0 0 0 0 #00000000;
  transition: 0.1s;
}
.sectionDate {
  display: flex;
  justify-content: center;
  justify-content: space-around;
}
.divDate {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputDate {
  padding: 10px;
  background-color: #f30014;
  border-radius: 5px;
  border: 2px solid #f30014;
  font-family: "Raleway", sans-serif;
  color: white;
  font-weight: 800;
  width: 40px;
}
#dateExit{
  color: #ffffff;
  background-color: #9e9e9e;
  border-color: #9e9e9e ;
}


#divClearBooks{
  width: 800px;
  max-width: 900px;
  display: block;
  background-color: white;
  display: flex;
  justify-content: center;
}
#clearBooks{
  margin: 10px;
}


.infoDate{
  margin-top: 5px;
  display: flex;
  align-items: center;
  background-color: #eeeeee;
  border-radius: 0 5px 5px 0;
}

.infoDate p{
  padding: 9px;
  padding-left: 10px;
  display: none;
  transition: 0.5s;
  color: #cf0011;
}

/* ------------RESERVAS------------ */
/* ---------------PIE DE PAGINA------------------- */
.pie-pagina {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  background-color: #121212;
  width: 100%;
  color: white;
  justify-content: center;
  align-content: center;
}
.pie-pagina .grupo-1 {
  width: 100%;
  max-width: 1200px;
  padding: 20px 0px 0px;
  justify-items: center;
}
.pie-pagina .grupo-1 .box h4 {
  font-size: 25px;
  color: #f30014;
}
.pie-pagina .grupo-1 .box p {
  margin-bottom: 30px;
}
.pie-pagina .grupo-1 .box a,
.pie-pagina .grupo-1 .box img {
  display: inline-block;
  text-decoration: none;
  width: 40px;
  height: 40px;
  margin-right: 5px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 25px;
  color: white;
}
.pie-pagina .grupo-1 .box .mapa {
  align-items: center;
  width: auto;
  height: 100px;
}
.pie-pagina .grupo-2 {
  display: flex;
  justify-content: space-around;
}

/* --------------------------------------------- */

@keyframes parpadeo {
  0% {
    text-shadow: 0px 0px 10px #e40517, 0px 0px 40px #e40517,
      0px 0px 80px #e40517;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0px 0px 10px #e40517, 0px 0px 40px #e40517,
      0px 0px 80px #e40517;
  }
}

.parpadeo {
  animation: parpadeo 10s infinite;
}
